<!DOCTYPE html> 
<htmL>
    <head>
    
        <title>About</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
          <link rel="icon" href="/image/icon.png">
      
    </head>
    <body>
        <div class="main-heading">
            {{>header}}
             <img class="profilePicture" src="/image/robot.png" alt="Your image">
        </div>
     
        {{>footer}}
    </body>
    
    
    
    </htmL>