<!DOCTYPE html> 
<htmL>
<head>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="icon" href="/image/icon.png">
   
    <title>Main Menu</title>

</head>
<body>
    <div class="main-heading">
        {{>header}}
        <p>Take you weather information here</p>
        <form action="">
            <input type="text" class="search">
            <button class="submit">Submit</button>
        </form>

        <p class="message1"></p>
        <p class="message2"></p>
    </div>

    {{>footer}}
</body>

 <script src="js/app.js"></script>

</htmL>